.pricingComponent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--br-main);
  padding: 50px 0;

  -webkit-box-shadow: 0px 10px 12px 0px rgba(133, 143, 173, 0.2);
  -moz-box-shadow: 0px 10px 12px 0px rgba(133, 143, 173, 0.2);
  box-shadow: 0px 10px 12px 0px rgba(133, 143, 173, 0.2);
}
