.switcher {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;

  &Container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.875rem;
    column-gap: 0.75rem;
    margin-bottom: 0.5rem;

    @media (min-width: 767px) {
      font-size: 1rem;
      justify-content: center;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:hover + &Slider {
    background-color: var(--cyan-100);
  }

  input:checked + &Slider:before {
    -webkit-transform: translate(1.05rem, -50%);
    -ms-transform: translate(1.05rem, -50%);
    transform: translate(1.05rem, -50%);
  }

  &Slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--blue-300);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2rem;

    &::before {
      position: absolute;
      content: "";
      height: 0.85rem;
      width: 0.85rem;
      top: 50%;
      left: 0.3rem;
      transform: translateY(-50%);

      background-color: var(--white);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  &Discount {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    margin-top: 0.1rem;

    @media (min-width: 767px) {
      margin-top: 0;
    }
  }
}
